<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/reset-css.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">


    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="login-box">
    <h1>Login</h1>
    <form method="post"
          th:action="@{/users/login}">
        <p for="username">Username</p>
        <input th:value="${username}"
               id="username"
               name="username"
               type="text" min="3"
               placeholder="Username"/>

        <p for="password">Password</p>
        <input
                id="password"
                name="password"
                type="password" min="2"
                max="20"
                placeholder="Password"/>

        <p th:if="${bad_credentials}" class="bg-warning">
            Invalid username or password.
        </p>


        <input type="submit" name="submit" value="Login"/>

    </form>
</div>

<div>
</div>
</body>
</html>